<html>
    <center>
        <form action="/flightenquiry/editimage" method="post" enctype="multipart/form-data">
         <input type="hidden" value="<%= data.flightid %>" name="flightid">
            <h3><%=data.flightname %></h3>
        <h3><%=data.company %></h3>
        <img src="/images/<%=data.logo %>" width="250"><br><br>
        <b>Upload New Image</b><br><br>
        <input type="file" required name="logo"><br><br>
        <input type="submit" value="Upload New Image">
    </form>
    </center>
</html>